body{
	font-family: 'Montserrat Alternates', sans-serif;	
}

img{
	max-width: 100%;
}

#header-wrapper{
	width: 100%;
	background-color: #3B5998;
	height: 50px;
}

#header{
	max-width: 900px;
	height: 50px;
	margin: auto;
}

#logo{
	float: left;
	width: 25%;
}

#logo img{
	height: 50px;
}

#right-header-wrapper{
	float: right;
	width: 75%;
}

#right-header-wrapper #search-bar{
	float: left;
}

#right-header-wrapper #nav{
	float: right;
}

#nav .nav-menu{
	float: right;
	line-height: 50px;
}

#nav .nav-menu li{
	float: left;
	color: white;
	padding-right: 15px;
}

#search-bar input{
	height: 25px;
    margin-top: 17px;
    width: 300px;	
}

#sub-header-wrapper{
	background-color: #ddd;
	width: 100%;
	height: 100px;
}

#sub-header{
	width: 30%;
	margin: auto;
	padding-top: 40px;
}

#page-title{
	display: inline-block;
	text-align: center;
}

#like-button{
	float: right;
}

#content{
	max-width: 900px;
	margin: auto;
}

#left, #main, #right{
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;	
}

#left{
	width: 30%;
	padding-right: 20px;
	margin-top: -10px;
}


#main{
	width: 50%;
	margin-top: -10px;
}

#right{
	width: 18%;
	margin-top: 15px;
}

#main-nav, #share{
	overflow: hidden;
	width: 100%;
	margin-bottom: 20px;
}

#main-nav ul li{
	float: left;
	box-sizing: border-box;
	padding: 5px;
	border: 1px solid black;
	box-shadow: 24px 26px 12px 0px #000;
}

#share ul li{
	float: left;
}















